<?xml version="1.0" encoding="utf-8"?>
<!--
/**
 * Copyright (C) 2020 KangOS
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
-->
<resources>
    <!-- Shows the required view for in-display fingerprint -->
    <bool name="config_supportsInDisplayFingerprint">false</bool>

    <!-- Paths to the libraries that contain device specific key handlers -->
    <string-array name="config_deviceKeyHandlerLibs" translatable="false">
    </string-array>

    <!-- Names of the key handler classes -->
    <string-array name="config_deviceKeyHandlerClasses" translatable="false">
    </string-array>

    <!-- Control the behavior when the user long presses the home button.
            0 - Nothing
            1 - Menu key
            2 - Recent apps view in SystemUI
            3 - Launch assist intent
            4 - Voice Search
            5 - In-app Search
            6 - Launch camera
            7 - Sleep
            8 - Toggle split screen
            9 - Take screenshot
         This needs to match the enums in DeviceKeysConstants.java.
    -->
    <integer name="config_longPressOnHomeBehaviorHwKeys">3</integer>

    <!-- Control the behavior when the user double-taps the home button.
            0 - Nothing
            1 - Menu key
            2 - Recent apps view in SystemUI
            3 - Launch assist intent
            4 - Voice Search
            5 - In-app Search
            6 - Launch camera
            7 - Sleep
            8 - Toggle split screen
            9 - Take screenshot
         This needs to match the enums in DeviceKeysConstants.java.
    -->
    <integer name="config_doubleTapOnHomeBehaviorHwKeys">0</integer>

    <!-- Control the behavior when the user long presses the menu button.
            0 - Nothing
            1 - Menu key
            2 - Recent apps view in SystemUI
            3 - Launch assist intent
            4 - Voice Search
            5 - In-app Search
            6 - Launch camera
            7 - Sleep
            8 - Toggle split screen
            9 - Take screenshot
         This needs to match the enums in DeviceKeysConstants.java.
    -->
    <integer name="config_longPressOnMenuBehaviorHwKeys">2</integer>


    <!-- Control the behavior when the user long presses the app switch button.
            0 - Nothing
            1 - Menu key
            2 - Recent apps view in SystemUI
            3 - Launch assist intent
            4 - Voice Search
            5 - In-app Search
            6 - Launch camera
            7 - Sleep
            8 - Toggle split screen
            9 - Take screenshot
         This needs to match the enums in DeviceKeysConstants.java.
    -->
    <integer name="config_longPressOnAppSwitchBehaviorHwKeys">8</integer>

    <!-- Control the behavior when the user long presses the assist button.
            0 - Nothing
            1 - Menu key
            2 - Recent apps view in SystemUI
            3 - Launch assist intent
            4 - Voice Search
            5 - In-app Search
            6 - Launch camera
            7 - Sleep
            8 - Toggle split screen
            9 - Take screenshot
         This needs to match the enums in DeviceKeysConstants.java.
    -->
    <integer name="config_longPressOnAssistBehaviorHwKeys">4</integer>

    <!-- Whether to post reset runnable for all clients. Needed for some older
         vendor fingerprint HAL implementations. -->
    <bool name="config_fingerprintPostResetRunnableForAllClients">false</bool>

    <!-- Whether to cleanup fingerprints upon connection to the daemon and when user switches -->
    <bool name="config_cleanupUnusedFingerprints">true</bool>

    <!-- Workaround to trim baseband version's string of some devices with duplicated baseband string -->
    <bool name="config_trim_baseband_version_string">false</bool>

     <!-- Defines the sysfs attribute path used by pocket bridge
         to communicate pocket state to the pocket judge kernel driver. -->
     <string name="config_pocketBridgeSysfsInpocket"></string>

     <!-- Pocket Lock -->
     <bool name="config_pocketModeSupported">true</bool>

     <!-- Defines custom OEM sensor for pocket detection. -->
     <string name="config_pocketJudgeVendorSensorName"></string>

    <!-- Button backlight -->
    <dimen name="config_buttonBrightnessSettingDefaultFloat">1.0</dimen>
    <bool name="config_deviceHasVariableButtonBrightness">false</bool>
    <!-- Time to give to the proximity sensor before toggling the flashlight with the Power button.
       Set to -1 to disable the proximity sensor check at all-->
    <integer name="config_flashlightProximityTimeout">300</integer>

    <!-- Older rotation sensors are not setting event.timestamp correctly. Setting to
         true will use SystemClock.elapsedRealtimeNanos() to set timestamp. -->
    <bool name="config_useSystemClockforRotationSensor">false</bool>

    <!-- Whether device has a physical display cutout -->
    <bool name="config_physicalDisplayCutout">false</bool>

    <!-- Whether device has a big physical display cutout -->
    <bool name="config_physicalDisplayCutoutCentered">@bool/config_physicalDisplayCutout</bool>

    <!-- The list of components which should be forced to be enabled. -->
    <string-array name="config_forceEnabledComponents" translatable="false">
    </string-array>

    <!-- The list of components which should be automatically disabled. -->
    <string-array name="config_disabledComponents" translatable="false">
    </string-array>

    <!-- Whether device has dash charging support -->
    <bool name="config_hasDashCharger">false</bool>

    <!-- Whether device has warp charging support -->
    <bool name="config_hasWarpCharger">false</bool>

    <!-- Whether device has VOOC charging support -->
    <bool name="config_hasVoocCharger">false</bool>

    <!-- Whether device supports internal audio recording -->
    <bool name="config_hasInternalAudioRecordingSupport">true</bool>

    <!-- Whether the device supports Smart Pixels -->
    <bool name="config_enableSmartPixels">false</bool>

     <!-- The list of vendor package signatures that should also be considered
          platform signatures, specifically for use on devices with a vendor partition. -->
     <string-array name="config_vendorPlatformSignatures">
     </string-array>

    <!-- Does the battery LED support multiple colors?
         Used to decide if the user can change the colors -->
    <bool name="config_multiColorBatteryLed">true</bool>

    <!-- Do the battery/notification LEDs support pulsing?
         Used to decide if we show pulse settings -->
    <bool name="config_ledCanPulse">true</bool>

    <!-- Default fod pressed color -->
    <integer name="config_fod_pressed_color">1</integer>

    <!-- Smart charging battery percentage -->
    <integer name="config_smartChargingBatteryLevel">80</integer>
    <integer name="config_smartChargingBatteryResumeLevel">60</integer>
    <string name="config_SmartChargingSysfsNode" translatable="false">/sys/class/power_supply/battery/charging_enabled</string>
    <string name="config_SmartChargingSuspendValue" translatable="false">0</string>
    <string name="config_SmartChargingResumeValue" translatable="false">1</string> 

    <string-array translatable="false" name="config_customPermissionsList">
        <item>com.android.wallpaper.livepicker</item>
    </string-array>

    <!-- Hardware 'face' keys present on the device, stored as a bit field.
         This integer should equal the sum of the corresponding value for each
         of the following keys present:
             1 - Home
             2 - Back
             4 - Menu
             8 - Assistant (search)
            16 - App switch
            32 - Camera
            64 - Volume rocker
         For example, a device with Home, Back and Menu keys would set this
         config to 7. -->
    <integer name="config_deviceHardwareKeys">64</integer>

    <!-- Whether to allow process with media UID to access CameraServiceProxy -->
    <bool name="config_allowMediaUidForCameraServiceProxy">false</bool>

</resources>
